body{
	 background-color: lightgreen;
}
h1 {
    color: white;
    text-align: left;
}
body{
     font-family: "Courier New";
}

h1 {
    font-family: Verdana;
}
h1 {
    font-size: 300%;
}
p {
	background-color:pink;
}

